// Color Variables ===========

$primary-color: #2460a7ff;

$secondary-color: #d9b48fff;

$contrast-color: #85b3d1ff;

$text-color: #2460a7ff;

$button-active: #85b3d1ff;

$button-warning: rgba(245, 49, 49, 0.739);

// Additional Colors ======

$white: #fff;

$grid-color3: #59d978;
$grid-color4: #24dbaf;
$grid-color5: #f1a454;
$grid-color6: #e65a7f;
$grid-color7: #9b72b8;
$grid-color8: #ecb313;
$grid-color12: #95f96f;

// Color Variables Function =======

$primary-color-light: lighten($primary-color, 15%);

// Media Query Breakpoint =========

$breakpoint-mobile: "min-width: 768px";
$breakpoint-wide: "(max-width: 1024px)";
